<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet" href="/css/style.css")
        link(rel="icon" href="/logo.jpg" type="image/jpg" sizes="16x16")
    body
        include ./partials/header.pug
        include ./partials/arrow-up.pug
        include ./partials/preolaider.pug
        div.shop.main-content
            div.container
                if products.length
                    div.block-filters
                        button.btn-open-filters
                            img(src="/svg/filter.svg" alt="фильтрация")
                        ul.block-filters-list
                            li(data-product="sale")
                                a(href="/shop/sale") Распродажа
                            li(data-product="accessories")
                                a(href="/shop/accessories") Аксессуары
                            li(data-product="collections")
                                a(href="/shop/collections") Коллекции
                            li(data-product="big")
                                a(href="#") Большой размер
                            li(data-product="small")
                                a(href="#") Маленький размер
                            li(data-product="all")
                                a(href="#") Все товары
                    div.shop__content
                        ul.shop__list
                            each product in products
                                li.card(data-size= product.mainSize)
                                    a(href="/shop/"+product.id title= product.title)
                                        div.card__block-img
                                            figure
                                                img(src= product.img[0] alt= product.title)
                                        div.card__description
                                            span.card-name= product.title
                                            div.card__block-price
                                                if product.oldPrice > 0
                                                    span.card-old-price= product.oldPrice
                                                span.card-now-price= product.nowPrice
                                                if product.sale > 0
                                                    span.card-sale= product.sale + '%'
                else if textSearch && !products.length
                    div.no-el
                        div.no-el__block
                            div.no-el__content
                                p По запросу "#{textSearch}" ничего не найдено
                else if sale && !products.length
                    div.no-el
                        div.no-el__block
                            div.no-el__content
                                p Товаров со скидкой нет
                else if accessories && !products.length
                    div.no-el
                        div.no-el__block
                            div.no-el__content
                                p Аксессуаров нет
                else if collections && !products.length
                    div.no-el
                        div.no-el__block
                            div.no-el__content
                                p Коллекций нет
        include ./partials/footer.pug
        script(src="/js/main.js")